/* _base.scss */
body {
  line-height: 1;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 908px;
  margin: 0 auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding-top: 71px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  list-style-type: none;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__link {
  color: rgb(125, 125, 125);
  font-weight: inherit;
}
.header__link:hover {
  color: rgb(3, 169, 244);
}

:root {
  --paragraph-color: rgba(125, 125, 125, 1);
  --link-color: rgba(3, 169, 244, 1);
  --subtitle-color: rgba(180, 173, 158, 1);
  --article-text-color: rgba(98, 98, 98, 1);
  --background-color: rgba(255, 255, 255, 1);
  --main-font: "Playfair Display", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 908px;
  margin: 0 auto;
}

body,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 71px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 99px;
  list-style-type: none;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  color: var(--paragraph-color);
  font-weight: inherit;
}

.hero {
  margin-top: 94px;
  margin-bottom: 64px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 130px;
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
  padding-bottom: 90px;
}

.hero__item {
  -ms-flex-preferred-size: calc((100% - 62px) / 2);
      flex-basis: calc((100% - 62px) / 2);
}

.hero__image,
.hero__subtitle {
  margin-bottom: 32px;
}

.hero__title {
  font-size: 30px;
  color: var(--article-text-color);
}

.hero__subtitle {
  font-weight: 300;
  color: var(--article-text-color);
  font-size: inherit;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--subtitle-color);
}

.hero__description {
  color: var(--article-text-color);
  padding-top: 44px;
}

.button {
  color: var(--article-text-color);
  padding: 20px 48px;
  background-color: var(--background);
  border: 1px solid var(--article-text-color);
  display: block;
  margin: auto;
  font-family: var(--main-font);
}/*# sourceMappingURL=main.css.map */