
:root {
    --backround: #E5E5E5;
    --title-color: #626262;
    --nav-color: #7D7D7D;
    --text-color: #B4AD9E;
}
:root {
    --main-font: "Playfair Display" , sans-serif;
    --second-font: "Ubuntu" , sans-serif;
}
body {
    background-color: var(--backround);
    font-family: var(--backround);
}
h2{
    color: var(--title-color);
}
a {
    color: var(--nav-color);
}
.text { font-family: var(--main-font);
}
h2 {
    font-size: 15px;
}
