@mixin button ( $button-color , $button-border-radius ) {
    color: $button-border-radius;
    display: block;
    margin: 0 auto;
    padding: 20px 48px 21px 49px;
    letter-spacing: 0;
}
@mixin text-style {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    color: $article-text-color;
}
@include {
    font-family: $main-font;
    font-style: 16px;
    line-height: 1.5;
    color: $article-text-color;
}
