
    $main-text-color: #626262;
    $accent-color: rgba(3, 169, 244, 1);
    $title-color: #626262;
    $subtitle-color: #B4AD9E ;
    $nav-text-color: #7D7D7D;
    $background-color: rgba(255, 255, 255, 1);
    $main-font: "Playfair Display", sans-serif;
    $secondary-font: "Ubuntu", sans-serif;
