$paragraph-color: rgba(125, 125, 125, 1);
$link-color: rgba(3, 169, 244, 1);
$subtitle-color: rgba(180, 173, 158, 1);
$article-text-color: rgba(98, 98, 98, 1);
$background-color: rgba(255, 255, 255, 1);
$main-font: 'Playfair Display', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;
