@use '../base/reset' as *;
@use '../utils/variables' as *;
@use '../base/base' as *;

.header {
	padding-top: 71px;

	&__list {
		display: flex;
		gap: 100px;
		list-style-type: none;
		text-transform: uppercase;
		justify-content: center;
	}

	&__link {
		color: $paragraph-color;
		font-weight: inherit;
		&:hover {
			color: $link-color;
		}
	}
}
