@use '../utils/varibles' as *;

a:hover {
    color: $link-color;
}

body {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
}

.container {
    width: 908px;
    margin: 0 auto;
}