body {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    background-color: $background-color;
}

.container {
    width: 908px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}