@use '../utils/variables' as *;

body {
	
	font-family: $main-font;
	font-size: 14px;
	font-weight: 400;
	background-color: $background-color;
	margin: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
}

a {
	text-decoration: none;
}

.container {
	width: 908px;
	margin: 0 auto;
}
